---
layout: layouts/base.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---
<div class="jumbotron text-center heading">

     <h1 class="display-1 text-xs-center p-b-1 m-b-1 animate__animated animate__fadeIn" data-wow-duration="2000s" data-wow-delay="2s" style="letter-spacing: 0.2px;" >  
  SESTOPIA</h1>
<img class="logo align-middle" src="{{ '/img/fish-bone.svg' | url }}" width="200" height="200">

<hr>
    <h2>
        The page you're looking for does not exist</em>
    </h2>
<h2>Go href="{{ '/' | url }}">home</a>.
</h2>





