---
layout: layouts/home.njk
templateClass: tmpl-skill
---
<div class="jumbotron text-center heading">
    <h1>{{ title }}</h1>
    <p>
        Authored by <em>{{author}}</em>
    </p>
    <p>
        Under <em>{{tags[1]}}</em> Knowledge Area
    </p>
    <p>
        <span class="badge badge-primary">
            <em>{{ content | readingTime}}</em>
        </span> to read
    </p>
</div>
<div class="container" style="margin-top:30px">
    <div class="row">
        <div class="col-sm-9 content-style">
            {{ content | safe }}
            <p  class = "home">
                <a href="{{ '/' | url }}">Back to Home Page</a>
            </p>

        </div>
    </div>
</div>